body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f4f4f9;
}

.resume {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #dbdee2;
    padding: 10px 0;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header .title {
    font-size: 1.2rem;
    color: #777;
}

header .contact a,
header .social-link a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

header .social-link a:hover {
    text-decoration: underline;
}

/* Estilizando Main */
main {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skills li {
        width: 48%;
        margin: 1%;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    .skills li {
        width: 100%;
    }
}