body {
    font-family: 'Poppins', sans-serif;
    /*opções de fontes: Roboto,Montserrat */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;  /*Alinha mais o top ao inves de center*/
    min-height: 100vh;
    padding: 20px;
    background-color: #f4f4f9;
}

.resume {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;             /*Animação para transição suave*/
}


/*Adicione animações para transições suaves:*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #dbdee2;
    /*background: linear-gradient(90deg, #007bff, #ff6f61);
    color: black;*/
    padding: 10px 0;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header .title {
    font-size: 1.2rem;
    color: #777;
}

header .contact a,
header .social-link a {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header .social-link  a:hover {
    text-decoration: underline;
    background-color: #0056b3;
}

header .contact  a:hover {
    text-decoration: underline;
    background-color: #0056b3;
}
a {
    text-decoration: none;
}

/* Estilizando Main */
main {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin-top: 0;   /*controlar o espaço entre header e main*/
}

main h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #007BFF;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills li {
    background: #e7e9ec;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;

}
.experience{
    margin-bottom: 20px;
}
.project {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 8px;
}
.project h3 {
    margin: 0 0 5px;
}




footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    background-color: #dbdee2;
    padding: 1px;
    border-radius: 8px;
}

button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
button:hover{
    background-color: #ff6f61;
}



/* Responsividade */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skills li {
        width: 48%;
        margin: 1%;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    .skills li {
        width: 100%;
    }
}